<h2 class="h2-display">Arm</h2>
<table class="table">
    <tbody>
      <tr>
        <th scope="row">Base</th>
        <td>
            <div class="btn-group" role="group" aria-label="base">
                <button type="button" class="btn btn-primary" id="arm-base-anticlockwise">Left</button>
                <button type="button" class="btn btn-primary" id="arm-base-clockwise">Right</button>
            </div>
        </td>
      </tr>
      <tr>
        <th scope="row">Gripper</th>
        <td>
            <div class="btn-group" role="group" aria-label="gripper">
                <button type="button" class="btn btn-primary" id="arm-gripper-open">Open</button>
                <button type="button" class="btn btn-primary" id="arm-gripper-close">Close</button>
            </div>
        </td>
      </tr>
    </tbody>
  </table>