<h2 class="h2-display">Connection Status</h2>
<table class="table">
    <tbody>
      <tr>
        <th scope="row">Connection Status</th>
        <td>
            <span class="" id="conn-status">N/A</span>
        </td>
      </tr>
      <tr>
        <th scope="row">Connection ID</th>
        <td colspan="2" id="conn-id">N/A</td>
      </tr>
      <tr>
        <th scope="row">Remote Address</th>
        <td id="conn-remote-addr">N/A</td>
      </tr>
      <tr>
        <th scope="row">Remote Port</th>
        <td colspan="2" id="conn-remote-port">N/A</td>
      </tr>
      <tr>
        <th scope="row">Ping Status</th>
        <td colspan="2" id="conn-ping-status">N/A</td>
      </tr>
      <tr>
        <th scope="row">Last Ping Response</th>
        <td colspan="2" id="conn-ping-last-response">N/A</td>
      </tr>
    </tbody>
  </table>