<h2 class="h2-display">Drive Train</h2>
<table class="table">
    <tbody>
        <tr>
        <th scope="row">Joystick Status</th>
        <td colspan="2" id="drivetrain-joystick-status">N/A</td>
        </tr>
        <tr>
        <th scope="row">Speed Left</th>
        <td colspan="2" id="drivetrain-joystick-speed-left">N/A</td>
        </tr>
        <tr>
        <th scope="row">Speed Right</th>
        <td id="drivetrain-joystick-speed-right">N/A</td>
        </tr>
        <tr>
        <th scope="row">Direction Left</th>
        <td colspan="2" id="drivetrain-joystick-direction-left">N/A</td>
        </tr>
        <tr>
        <th scope="row">Direction Right</th>
        <td colspan="2" id="drivetrain-joystick-direction-right">N/A</td>
        </tr>
    </tbody>
</table>