<h2 class="h2-display">GPS</h2>
<table class="table">
    <tbody>
      <tr>
        <th scope="row">GPS Data Status</th>
        <td id=""> </td>
      </tr>
      <tr>
        <th scope="row">GPS Mode</th>
        <td colspan="2" id="gps-mode">N/A</td>
      </tr>
      <tr>
        <th scope="row">Message</th>
        <td id="gps-message">N/A</td>
      </tr>
      <tr>
        <th scope="row">Latitude</th>
        <td colspan="2" id="gps-latitude">N/A</td>
      </tr>
      <tr>
        <th scope="row">Longitude</th>
        <td colspan="2" id="gps-longitude">N/A</td>
      </tr>
      <tr>
        <th scope="row">Altitude</th>
        <td colspan="2" id="gps-altitude">N/A</td>
      </tr>
    </tbody>
  </table>