<h2 class="h2-display">Joystick</h2>
<table class="table">
    <tbody>
      <tr>
        <th scope="row">Status</th>
        <td colspan="2" id="joystick-status">N/A</td>
      </tr>
      <tr>
        <th scope="row">Speed Left</th>
        <td colspan="2" id="joystick-speed-left">N/A</td>
      </tr>
      <tr>
        <th scope="row">Speed Right</th>
        <td id="joystick-speed-right">N/A</td>
      </tr>
      <tr>
        <th scope="row">Direction Left</th>
        <td colspan="2" id="joystick-direction-left">N/A</td>
      </tr>
      <tr>
        <th scope="row">Direction Right</th>
        <td colspan="2" id="joystick-direction-right">N/A</td>
      </tr>
    </tbody>
  </table>
<div class="d-grid gap-2">
    <button type="button" class="btn btn-primary disabled" id="joystick-initialize-btn">Initialize</button>
    <button type="button" class="btn btn-danger disabled" id="joystick-teardown-btn">Teardown</button>
  </div>